@model Visa.Domain.vDistrict
<!-- 样式文件 -->
<link rel="stylesheet" href="/umeditor/themes/default/css/umeditor.css">
<!-- 配置文件 -->
<script type="text/javascript" src="/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/umeditor/umeditor.min.js"></script>
<!-- 语言包文件 -->
<script type="text/javascript" src="/umeditor/lang/zh-cn/zh-cn.js"></script>
<!-- #section:basics/content.breadcrumbs -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="###">国家地区</a>
        </li>
        <li>
            <a href="/Country/List">地区列表</a>
        </li>
        <li>
            编辑
        </li>
    </ul><!-- /.breadcrumb -->

</div>
<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    @Html.Partial("_PartialSetting")
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            @using (Html.BeginForm("Edit", "Country", FormMethod.Post, new { @id = "frmAdd", @name = "frmAdd", @role = "form", @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                 <!-- #section:elements.form -->
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="CountryName">英文名</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CountryName, new { @class = "col-xs-10 col-sm-3" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="ChineseName">中文名</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ChineseName, new { @class = "col-xs-10 col-sm-3" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="CountryCode">国家代码</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CountryCode, new { @class = "col-xs-10 col-sm-3" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="IsShow">是否显示</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.IsShow, ViewData["vshow"] as List<SelectListItem>)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="TemplateFile">签证模板</label>
                    <div class="col-sm-10">
                        <input id="FileVisa" name="FileVisa" type="file" />
                        <br />
                        <a href="/template/@ViewData["vfile"]" target="_blank">查看文件</a>
                        <input type="hidden" name="hiddenFile" value="@ViewData["vfile"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right" for="FillMode">填表模式</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(model => model.FillMode, ViewData["vfill"] as List<SelectListItem>)
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-2 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-120"></i>
                            保存
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <a class="btn" href="javascript:history.go(-1)">
                            <i class="fa fa-arrow-left bigger-120"></i>
                            返回
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- 实例化编辑器代码 -->
<script type="text/javascript">
    $(function () {
        var serverPath = '';
        UM.getEditor('ArticleContent', { imageUrl: "/vFile/mUpload", imagePath: serverPath, autoHeightEnabled: false });
      
    });
</script>