@model IEnumerable<Visa.Domain._AppTemp>
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>申请人列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/global.css" media="all">
    <script src="~/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer,
                form = layui.form,
                element = layui.element,
                laydate = layui.laydate;
            window.checkdel=function(id)
            {
                layer.confirm('确定要删除此条记录吗？', function(index) {
                    var layerid = layer.msg('验证中...', { icon: 16, time: 0, shade: [0.6, '#000', true] });
                    $.ajax({
                        type: 'POST',
                        url: '/Order/Delete',
                        data: { id: id},
                        dataType: 'json',
                        success: function (data) {
                            layer.close(layerid)
                            if (data.status == "1") {
                                $("#tr_" + id).remove();
                            }
                            else
                                layer.msg(data.message, { time: 2000 });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.close(layerid)
                        }
                    });
                });
            }
        });
    </script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        @Html.Partial("_PartialHeader")
       
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 10px;">
                <fieldset class="layui-elem-field layui-field-title" >
                    <legend>申请人列表</legend>
                </fieldset>
                <span class="layui-breadcrumb" > <a href="">预约</a> <a href="">地点</a><a><cite>申请人列表</cite></a> </span>
                <div class="addperson">
                    <a href="/Order/Add?burl=@ViewData["vburl"]" class="layui-btn layui-btn-big">添加申请人</a>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table class="layui-table">
                       
                        <thead>
                            <tr>
                                <th>名</th>
                                <th>姓</th>
                                <th>护照号码</th>
                                <th>出生日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="5" style="text-align: center;">未添加申请人</td>
                                </tr>
                            }
                           
                              @foreach (var item in Model)
                              {
                                <tr id="tr_@item.Id">
                                    <td>@item.Surname</td>
                                    <td>@item.Givename</td>
                                    <td>@item.Passport</td>
                                    <td>@item.Birthdate.ToString("dd/MM/yyyy")</td>
                                    <td><a href="/Order/Edit/@item.Id">编辑</a> | <a href="javascript:checkdel(@item.Id)">删除</a></td>
                                </tr>
                              }
                           

                        </tbody>
                    </table>
                </div>
                <br><br>
                <a href="/Order/Appointment?burl=@ViewData["vburl"]" class="layui-btn layui-btn-big">继续</a>
            </div>
        </div>
        @Html.Partial("_PartialFooter")
    </div>
   
   
  
    
</body>
</html>
